<a href="https://colab.research.google.com/github/shreenahMac/Assignment2-ISYS2001/blob/main/Development_report_shreenah.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Downloading Enron Email Data**

In [ ]:
#using the wget! command to download the enron.db file 
#next is to set the output file as enron.db 
#using the URL of the enron.db

**Establish Connection to the SQLite database**

In [ ]:
#import sqlite3 module to connect to the sqlite database

In [ ]:
#Establish a connection between enron.db and the SQLite module using the sqlite.connect()
#save the above connection in the variable "conn"

In [ ]:
#create a cursor function in order to execute SQL queries on the database 
#create a cursor function using the 'conn.cursor()' method 
#save the cursor function in the variable "cur"

**Check schema of database**

In [ ]:
#write an SQL query to retrieve data from the enron.db database 
#proceed by writing the codes 
"SELECT name FROM sqlite_master WHERE type='table';
#Execute the sql query using a cursor function 'cur'
#fetch all the results using cur.fetchall() method

**Check Schema of tables**

In [ ]:
#write an SQL using the SQLite PRAGMA command 
#INSERT table name "employeelist"/ "message"/ "recipient info"/"referenceinfo" into the PRAGMA command 
#EXECUTE  the SQL queries using a cursor function 'cur'
#Fetch all the results using the cur.fetchall() method.

**Email Traffic Overtime**

In [ ]:
#import necessary libraries

In [ ]:
#import pandas library to read SQL queries and convert to dataframe 
#represent pandas as 'pd' as an alias

In [ ]:
#import seaborn library for more informative statistical visulaisation/graphics
#represent seaborn as 'sns' as an alias

In [ ]:
#import the 'matplotlib.pyplot' module

**check whether the data column in Message contain null values**

In [ ]:
#write an sql query which will contain the selection of 'date' column from message table and store it in variable sql

**convert to dataframe**

In [ ]:
#import pandas library to read sql query 
#use the function 'read_sql_query()' from the pandas module 
#set parameters, make use of SQL query's variable 'sql' and the variable 'conn'which makes the database connection
#save the 'read_sql_query()', function and its parameters to the variable 'message_df'
#print the contents of the Dataframe 'message_df'

**Number of emails per day**

In [ ]:
#write sql query to count number of emails per day 
#convert this sql query into a dataframe

#A table will be provided, from table plot the line graph
#use 'olt.subplot()' function from matplotlib library, which will help to generate the x-axis and y-axis 
#set the figure size to (20,5) and save it as variable 'fig'
#make use of seaborn library to create the line plot 
#use the function 'lineplot()' from the seaborn library 
#as parameters set 'x=date' and 'y=count' 
#use the variable 'messageperday_df' as data source 
#show the line plot by using the function 'show()' from matplotlib library

**Number of emails per week**

In [ ]:
#write sql query to count number of emails per day 
#convert this sql query into a dataframe

#A table will be provided, from table plot the line graph
#use 'olt.subplot()' function from matplotlib library, which will help to generate the x-axis and y-axis 
#set the figure size to (20,5) and save it as variable 'fig'
#make use of seaborn library to create the line plot 
#use the function 'lineplot()' from the seaborn library 
#as parameters set 'x=date' and 'y=count' 
#use the variable 'messageperweek_df' as data source 
#show the line plot by using the function 'show()' from matplotlib library

**Number of emails per month**

In [ ]:
#write sql query to count number of emails per day 
#convert this sql query into a dataframe

#A table will be provided, from table plot the line graph
#use 'plt.subplot()' function from matplotlib library, which will help to generate the x-axis and y-axis 
#set the figure size to (20,5) and save it as variable 'fig'
#make use of seaborn library to create the line plot 
#use the function 'lineplot()' from the seaborn library 
#as parameters set 'x=date' and 'y=count' 
#use the variable 'messagepermonth_df' as data source 
#show the line plot by using the function 'show()' from matplotlib library

**Top senders and recipients**

In [ ]:
#write an sql query to retrieve top senders 
#Read data from the dataframe into dataframes 
#Execute the SQL query and store the results in the "top_senders_df" dataframe by writing : top_senders_df = pd.read_sql_query(sql_senders, conn) 
#Output the contents of the "top_senders_df" dataframe then proceed with : print(top_senders_df)

In [ ]:
#Import the required libraries for visualization:
#import matplotlib.pyplot as plt in order to plot the required diagram 
#import seaborn as sns
#Set the data variable to the "top_senders_df" dataframe: data = top_senders_df

#Create a bar plot using seaborn's barplot function: sns.barplot(x="count", y="sender", data=data)
# to display the plot: plt.show()

In [ ]:
#define the sql query to count the number of emails which was received by the recipients
#we establish a connection to the "enron.db" database
#execute the sql query and store the results in the "top_recipients_df" dataframe
#output the contents of the "top_recipients_df" dataframe 
#we print(top_recipients_df)

In [ ]:
#Import the required libraries for visualization:
#import matplotlib.pyplot as plt in order to plot the required diagram 
#import seaborn as sns
#Set the data variable to the "top_recipients_df" dataframe: data = top_recipients_df

#Create a bar plot using seaborn's barplot function: sns.barplot(x="count", y="recipient", data=data)
# to display the plot: plt.show()

**Email distribution by recipient type**

In [ ]:
#define the sql query to retrieve recipient types and their count
#execute the sql query using the cursor object 
#store the results of the query in the "recipient_df" dataframe
#output the contents of the "recipients_df" dataframe
#print(recipient_df)

In [ ]:
#create a list of labels for the pie chart:
#such as labels = recipient_df['rtype']
#create a list of values for the pie chart:
#such as values = recipient_df['count']
#plot the pie chart using matplotlib's pie function:
#write code plt.pie(values,labels=labels, autopct= '%1.1f%%')
#set a title for the pie chart: plt.title('distribution of recipient types')
#display the plot: plt.show()

**Testing for errors**

In [2]:
#Check whether the data column in Message contain null values
sql= """
SELECT date
FROM message
"""
#convert to dataframe
import pandas as pd
message_df = pd.read_sql_query(sql, conn)

NameError: ignored

Here the error i have encountered was a name error that i did not write message_df for the code to run

In [3]:
#sql query to count number of emails per day
sql="""

SELECT strftime('%Y-%d', date) 
AS date,
COUNT(*) AS count FROM message 
GROUP BY date

"""
#convert in dataframe
messageperday_df = pd.read_sql_query(sql, conn)
messageperday_df

NameError: ignored

in my enron_data i was not able to obtain my table in order to plot the line graph messageperday, my error was that, i did not include SELECT strftime('%y-%m-%d')

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
data = top_senders_df
sns.barplot(x="count", y="sender", data=data
plt.show()

SyntaxError: ignored

For this section of the code, i could not obtain my bar chart as there was a syntax error, as i did not close ')'

In [6]:
#create a list of labels for the pie chart 
labels = list(recipient_df['rtype'])  # Introducing list() to convert the column to a list

#create a list of values for the pie chart 
values = recipient_df['count']

#plot the pie chart 
plt.pie(values, labels=labels, autopct='%1.1f%%')

plt.title('Distribution of Recipient Types')
plt.show()

NameError: ignored

 here a type error was encountered.The object cannot be utilized as a function since it is not callable, as indicated by the error message. As the "rtype" column is already a Series object and can be used directly as the labels, the solution to this mistake is as simple as removing the list() function call when assigning the "labels" variable.